@tailwind base;

@font-face {
  font-family: 'Bobaland.ttf';
  src: url('https://irp.cdn-website.com/0e650340/fonts/Bobaland.ttf-70c_400.woff');
  font-weight: 400;
  font-style: normal;
}

@tailwind components;

@tailwind utilities;

@layer components {
  .categories-area {
    grid-area: categories;
  }

  .cat-filter-area {
    grid-area: cat-filter;
  }

  .search-area {
    grid-area: search;
  }

  .islands-area {
    grid-area: islands;
  }
  .filtering-grid {
    display: grid;
    grid-template:
      'categories categories' auto
      'cat-filter search    ' auto
      'islands    islands   ' auto
      / 1fr 1fr;
  }

  @screen md {
    .filtering-grid {
      grid-template:
        'categories categories categories' auto
        'cat-filter search     islands   ' auto
        / auto 1fr auto;
    }
  }
}

@layer utilities {
  .tw-flex-center {
    @apply tw-flex tw-items-center tw-justify-center !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
